body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:956px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u662 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u663_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:101px;
}
#u663 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:101px;
}
#u663_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u664_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:663px;
}
#u664 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:101px;
  width:30px;
  height:663px;
}
#u664_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u665_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:663px;
}
#u665 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:101px;
  width:26px;
  height:663px;
}
#u665_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:102px;
}
#u666 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:764px;
  width:430px;
  height:102px;
}
#u666_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u667_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:663px;
}
#u667 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:101px;
  width:374px;
  height:663px;
}
#u667_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u668_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:75px;
}
#u668 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:379px;
  width:226px;
  height:75px;
}
#u668_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u669_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:235px;
  background:inherit;
  background-color:rgba(102, 102, 102, 0.619607843137255);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u669 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:316px;
  width:238px;
  height:235px;
}
#u669_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:37px;
}
#u670 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:123px;
  width:156px;
  height:37px;
}
#u670_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:79px;
}
#u671 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:685px;
  width:294px;
  height:79px;
}
#u671_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u672_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:343px;
  height:340px;
}
#u672 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:263px;
  width:333px;
  height:330px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u672_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u673_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:194px;
  height:45px;
}
#u673 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:281px;
  width:184px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:20px;
}
#u673_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:8px;
  width:154px;
  word-wrap:break-word;
}
#u674_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:111px;
  height:45px;
}
#u674 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:326px;
  width:101px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:20px;
}
#u674_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u675_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:111px;
  height:45px;
}
#u675 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:361px;
  width:101px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:20px;
}
#u675_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u676_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:111px;
  height:45px;
}
#u676 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:396px;
  width:101px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:20px;
}
#u676_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u677_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:2px;
}
#u677 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:315px;
  width:287px;
  height:1px;
}
#u677_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u678_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:215px;
  height:45px;
}
#u678 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:326px;
  width:205px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
  line-height:20px;
}
#u678_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:8px;
  width:175px;
  word-wrap:break-word;
}
#u679_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:215px;
  height:45px;
}
#u679 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:361px;
  width:205px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
  line-height:20px;
}
#u679_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:8px;
  width:175px;
  word-wrap:break-word;
}
#u680_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:215px;
  height:45px;
}
#u680 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:396px;
  width:205px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
  line-height:20px;
}
#u680_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u681_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u681 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:277px;
  width:22px;
  height:22px;
}
#u681_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u682_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:111px;
  height:45px;
}
#u682 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:431px;
  width:101px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:20px;
}
#u682_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u683_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:215px;
  height:45px;
}
#u683 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:431px;
  width:205px;
  height:35px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
  text-align:left;
  line-height:20px;
}
#u683_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:8px;
  width:175px;
  word-wrap:break-word;
}
#u684_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:215px;
  height:35px;
}
#u684 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:470px;
  width:205px;
  height:25px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
  text-align:left;
  line-height:20px;
}
#u684_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:2px;
  width:175px;
  word-wrap:break-word;
}
#u685_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:30px;
  background:inherit;
  background-color:rgba(66, 139, 202, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(53, 126, 189, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u685 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:505px;
  width:221px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u685_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:30px;
  background:inherit;
  background-color:rgba(50, 118, 177, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(40, 94, 142, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u685.mouseOver {
}
#u685_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:30px;
  background:inherit;
  background-color:rgba(50, 118, 177, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(40, 94, 142, 1);
  border-radius:4px;
  -moz-box-shadow:0px 3px 5px -3px rgba(51, 51, 51, 0.349019607843137) inset;
  -webkit-box-shadow:0px 3px 5px -3px rgba(51, 51, 51, 0.349019607843137) inset;
  box-shadow:0px 3px 5px -3px rgba(51, 51, 51, 0.349019607843137) inset;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u685.mouseDown {
}
#u685_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:30px;
  background:inherit;
  background-color:rgba(66, 139, 202, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(53, 126, 189, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u685.disabled {
  opacity:0.5;
}
#u685_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:5px;
  width:197px;
  word-wrap:break-word;
}
#u686_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:215px;
  height:31px;
}
#u686 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:518px;
  width:200px;
  height:5px;
}
#u686_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u687_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:141px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#FFFFFF;
}
#u687 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:450px;
  width:420px;
  height:141px;
  color:#FFFFFF;
}
#u687_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:400px;
  word-wrap:break-word;
}
