.ax_default {
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    color: #333333;
    text-align: center;
    line-height: normal;
}

body, td, th {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #1d1007;
    line-height: 24px
}

.ellipse {
}

._图片 {
}

._一级标题 {
    font-family: 'Arial Normal', 'Arial';
    font-weight: bold;
    font-style: normal;
    font-size: 32px;
    text-align: left;
}

._二级标题 {
    font-family: 'Arial Normal', 'Arial';
    font-weight: bold;
    font-style: normal;
    font-size: 24px;
    text-align: left;
}

._三级标题 {
    font-family: 'Arial Normal', 'Arial';
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
    text-align: left;
}

._四级标题 {
    font-family: 'Arial Normal', 'Arial';
    font-weight: bold;
    font-style: normal;
    font-size: 14px;
    text-align: left;
}

._五级标题 {
    font-family: 'Arial Normal', 'Arial';
    font-weight: bold;
    font-style: normal;
    text-align: left;
}

._六级标题 {
    font-family: 'Arial Normal', 'Arial';
    font-weight: bold;
    font-style: normal;
    font-size: 10px;
    text-align: left;
}

._文本段落 {
    text-align: left;
}

.line {
}

.arrow {
}

.checkbox {
    text-align: left;
}

._流程形状 {
}

._默认样式 {
}

.icon {
}

._形状 {
    font-family: '微软雅黑';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    color: #333333;
    text-align: center;
    line-height: normal;
}

._文本框 {
    font-size: 13px;
    color: #000000;
    text-align: left;
}

._多行文本框 {
    font-size: 13px;
    color: #000000;
    text-align: left;
}

.image {
}

._垂直线 {
}

._btn-link {
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #428BCA;
    text-align: center;
    line-height: 20px;
}

._btn-link_hover {
    color: #2A6496;
    text-align: center;
    line-height: 20px;
}

._btn-default {
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #333333;
    text-align: center;
    line-height: 20px;
}

._btn-default_hover {
    color: #333333;
    text-align: center;
    line-height: 20px;
}

._btn-primary {
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    line-height: 20px;
}

._btn-primary_hover {
    color: #FFFFFF;
    text-align: center;
    line-height: 20px;
}

._btn-success {
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    line-height: 20px;
}

._btn-success_hover {
    color: #FFFFFF;
    text-align: center;
    line-height: 20px;
}

._btn-info {
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    line-height: 20px;
}

._btn-info_hover {
    color: #FFFFFF;
    text-align: center;
    line-height: 20px;
}

._btn-warning {
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    line-height: 20px;
}

._btn-warning_hover {
    color: #FFFFFF;
    text-align: center;
    line-height: 20px;
}

._btn-danger {
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    line-height: 20px;
}

._btn-danger_hover {
    color: #FFFFFF;
    text-align: center;
    line-height: 20px;
}

.shape {
}

.vertical_line {
}

.table {
}

.box_1 {
}

.button {
}

.heading_1 {
    font-family: 'Arial Normal', 'Arial';
    font-weight: bold;
    font-style: normal;
    font-size: 32px;
    text-align: left;
}

.label {
    font-size: 14px;
    text-align: left;
}

.paragraph {
    text-align: left;
}

.text_field {
    color: #000000;
    text-align: left;
}

.radio_button {
    text-align: left;
}

.table_cell {
}

.sticky_1 {
    text-align: left;
}

.sticky_2 {
    text-align: left;
}

.sticky_3 {
    text-align: left;
}

._图片1 {
}

._形状1 {
}

._图片2 {
    color: #000000;
}

.box_2 {
}

.droplist {
    color: #000000;
    text-align: left;
}

._表格 {
}

._单元格 {
}

.box_11 {
}

._文本段落1 {
    text-align: left;
}

.image1 {
}

.sticky_4 {
    text-align: left;
}
